
html {
  height: 100%;
}
body {
  height: 90%;
}

.root {
    height: 100%;
}

.loadingTop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .outer {
        width: 90%;
        height: 2.5em;

        border: 8px black solid;
        border-radius: 6px;

        .inner {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 0%;
            height: 100%;
            background-color: bisque;
        }
    }

    .per {
        position: absolute;
        font-size: 1.8em;
        font-weight: bold;
    }
}

.viewerTop {
    max-width: 80em;

    a:visited{
        color:blue;
    }

    td {
        border: 1px solid black;
    }

    table {
        border-collapse: collapse; 
        table-layout: auto;
        width: auto;
    }

    .select {
        display: flex;
        flex-direction: row;
        justify-content: stretch;

        .rs {
            min-width: 25em;
        }
    }

    .results {
        display: flex;
        flex-direction: column;
        border: solid 3px gray;

        .division {
            display: flex;
            flex-direction: column;
            border: solid 5px lightblue;

            .divisionHeader {
                background-color: lightblue;
                font-weight: bold;
                font-size: 1.1em;
                padding-top: 5px;
                padding-bottom: 5px;
            }

            .round {
                display: flex;
                flex-direction: column;
                border: solid 5px lightpink;

                .roundHeader {
                    background-color: lightpink;
                    font-weight: bold;
                    font-size: 1.1em;
                    padding-top: 5px;
                    padding-bottom: 5px;
                }

                .pool {
                    display: flex;
                    flex-direction: column;
                    border: solid 5px lightgreen;

                    .poolHeader {
                        background-color: lightgreen;
                        font-weight: bold;
                        font-size: 1.1em;
                        padding-top: 5px;
                        padding-bottom: 5px;
                    }
                }
            }
        }
    }
}